.barraDeTareas{
    width: 2.8rem;
    background-color: var(--colorBase);
    position: absolute;
    margin: 0.3rem 0 0.3rem 0;
    border-radius: 5px;

    left: 0;
    top: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 24px;
    height: 24px;
}
.iconos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botonWindows{
    width: 2.4rem;
    height: 3rem;
    border-bottom: 1px solid var(--colorBlanco);
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.botonWindows2{
    width: 2.4rem;
    height: 3rem;
    border-bottom: 1px solid var(--colorBlanco);
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    display: none;
}
.iconoArchivo{
    width: 2.8rem;
    height: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.iconoArchivo2{
    width: 2.8rem;
    height: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    display: none;
}
.iconoReloj{
    width: 2.8rem;
    height: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.horaYFecha{
    height: 2.4rem;
    width: 12rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 0.3rem;
    left: 3.1rem;
    
    background-color: var(--colorOscuro);
    border-radius: 5px;

    display: none;
}
.Hora{
    width: 6rem;
    height: 2rem;
    color: var(--colorBlanco);
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid var(--colorBlanco);
}
.Fecha{
    width: 6rem;
    height: 2rem;
    color: var(--colorBlanco);
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
}





.inicio{
    height: 16rem;
    width: 12rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0rem;
    left: 3.1rem;
    
    background-color: var(--colorBase);
    border-radius: 10px;

    display: none;
}
.activar{
    display: flex;
}
.desactivar{
    display: none;
}
.actApagar{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.activar2{
    display: block;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.opcionesWindows{
    width: 2.8rem;
    height: 100%;
    background-color: var(--colorBase);
    border-radius: 10px;
    color: var(--colorBlanco);

    display: flex;
    flex-direction: column;
    align-items: center;
}
.opcionesWindows div{
    width: 2.4rem;
    height: 3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.opcionesWindows img{
    width: 28px;
    height: 28px;
}
.iconoApagar img{
    width: 24px;
    height: 24px;
}
.otrasOpciones{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.otrasOpciones div{
    width: 9.2rem;
    height: 3rem;
    color: var(--colorBlanco);
    border-bottom: 1px solid var(--colorBlanco);

    display: flex;
    align-items: center;
    justify-content: center;
}
