*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10;
    font-family: 'Nunito', sans-serif;
}
:root{
    --colorBase: rgba(91, 54, 125, 0.5);
    --colorOscuro: rgba(91, 54, 125, 0.8);
    --colorBlanco: rgba(255, 255, 255, 0.712);

    --anchoIconos: 2.4rem;
    --largoIconos: 2.4rem;

    --letra: 16px;
    --letraGrande: 20px;
    --Titulos: 30px;
}
.colorAzul{
    --colorBase: rgba(54, 59, 125, 0.5);
    --colorOscuro: rgba(54, 59, 125, 0.8);
}