.SistemaOperativo{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(https://www.xtrafondos.com/descargar.php?id=3472&resolucion=2880x1800);
    object-fit: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.ventana{
    width: 40rem;
    height: 28rem;
    background-color: var(--colorBase);

    display: flex;
    justify-content: baseline;
    border-radius: 10px;
}
.barraVentana{
    width: 100%;
    height: 2.8rem;
    border-radius: 10px;
    background-color: var(--colorOscuro);
}